@{
    Layout = "_Layout";
}

@model AccountViewModel
<div class="container">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <strong>Name:</strong>
                    @Model.Name<br/>
                    <strong>UserName:</strong>
                    @Model.Username<br/>
                    <strong>About Author:</strong>
                    @if (string.IsNullOrEmpty(Model.Summary))
                    {
                        <p class="user-summary">Add something about yourself</p>
                    }
                    else
                    {
                        @Model.Summary
                    }
                    <br/>
                    @if (ViewBag.SessionUserId == Model.Username)
                    {
                        <a href="@Url.Action("UpdateProfilePage", "Account")" class="btn btn-secondary btn-sm">Update Profile</a>
                        <br/>
                    }
                    @if (Model.Username == "admin")
                    {
                        <a href="" class="btn btn-danger btn-sm">Delete</a>
                        <br/>
                    }
                    <br/>
                    @if (ViewBag.SessionUserId != ViewBag.User)
                    {
                        if (ViewBag.FollowAuthor == null)
                        {
                            using (Html.BeginForm("FollowAccount", "Account"))
                            {
                                <button type="submit" class="btn btn-secondary btn-sm">Follow</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("FollowAccount", "Account"))
                            {
                                <button type="submit" class="btn btn-secondary btn-sm">Unfollow</button>
                            }
                        }
                    }
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
