@model FoodRecipe.Models.VerificationViewModel
<main>
    <div class="auth-form-header">
        <h1>Enter Your Email</h1>
    </div>
    <div class="auth-form px-3" id="verification">
        <div class="auth-form-body mt-3">
            @using (Html.BeginForm())
            {
                
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="emailValue" id="email">
                <p>
                    <input id = "Submit" type = "submit" value = "submit" class="btn btn-primary" />
                </p>
            }
        </div>
    </div>
</main>
