@model FoodRecipe.Models.VerificationViewModel
@{
    ViewData["Title"] = "verificationOTP";
}

<main>
    <div class="auth-form-header">
        <h1>Email Verification</h1>
    </div>
    <div class="auth-form px-3" id="verification">
        <div class="auth-form-body mt-3">
            @using (Html.BeginForm())
            {
                <div class="form-group row">
                    @Html.LabelFor(x => x.OTP)
                    @Html.EditorFor(x => x.OTP)
                    @Html.ValidationMessageFor(x => x.OTP)
                </div>
                <p>
                    <input id = "Submit" type = "submit" value = "submit" class="btn btn-primary" />
                </p>
            }
        </div>
    </div>
</main>

