@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="{{ url_for('keyword_search') }}" method="post" class="add-entry" id="keyword_Search">
        <div class="container w-75">
            <div class="input-group rounded">
              <input type="text" name="keyword_Search" class="form-control rounded" placeholder="Type in a keyword" aria-label="Search" aria-describedby="search-addon" />
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>