@model FoodRecipe.Models.ReviewViewModel
@{
    Layout = "_Layout";
}
@using (Html.BeginForm())
{
    <div class="form-group row">
        @Html.LabelFor(x => x.Review)
        @Html.EditorFor(x => x.Review)
        @Html.ValidationMessageFor(x => x.Review)
    </div>
    @Html.HiddenFor(x => x.ReviewId)
    <p>
        <input id = "Submit" type = "submit" value = "submit" />
    </p>
}